In [1]:
import pandas as pd
import numpy as np
import pmdarima as pmd
import matplotlib.pyplot as plt
import sklearn
pd.set_option('display.max_columns',500)

In [2]:
inv=pd.read_csv('/Users/APinkerton/Downloads/inv.csv')
sls=pd.read_csv('/Users/APinkerton/Downloads/sales.csv')
sls.columns=['sku', 'str0', 'str0', 'str1', 'str1', 'str2', 'str2', 'str3','str3', 'str4', 'str4']

In [3]:
lst=sls.columns
sls.columns=lst+sls.loc[0]
sls.columns=['sku', 'str0LW', 'str0L4W', 'str1LW', 'str1L4W', 'str2LW', 'str2L4W',
       'str3LW', 'str3L4W', 'str4LW', 'str4L4W']

In [36]:
df1=pd.DataFrame(list(range(101)),columns=['col'])
bins=np.linspace(df1['col'].min(),df1['col'].max(),10)
df1['bin_no']=np.digitize(df1['col'],bins=bins)
df1

     col  bin_no
0      0       1
1      1       1
2      2       1
3      3       1
4      4       1
..   ...     ...
96    96       9
97    97       9
98    98       9
99    99       9
100  100      10

[101 rows x 2 columns]

In [4]:
sls.drop(0,axis=0,inplace=True)

In [5]:
# inv.columns=['sku', 'DCinvinv', 'str0inv', 'str1inv', 'str2inv', 'str3inv', 'str4inv']
new_cols=[]
for idx, col in enumerate(inv.columns):
    if idx==0:
        new_cols.append(col)
    else:
        new_cols.append(col+'inv')
inv.columns=new_cols

In [6]:
df=pd.merge(inv,sls,left_on='sku',right_on='sku')
str_lst=['str0','str1','str2','str3','str4']
for str in str_lst:

SyntaxError: unexpected EOF while parsing (<ipython-input-6-7d4235ddeb26>, line 4)

In [ ]:
dc_inv=df[['sku','DCinv']].set_index('sku').to_dict()
priority=['str0', 'str1', 'str2', 'str3', 'str4']
prio_dict=list(enumerate(priority))
prio_dict[0][1]

In [ ]:
ss=dict(zip(df['sku'],np.ones(len(df['sku']))*4))
ss

In [ ]:
for a in range(2,7):
    print(inv.iloc[:,a])

In [ ]:
str0_dict=inv['str0inv'].to_dict()
str0_alloc={}
for k,v in str0_dict.items():
    if str0_dict[k]<ss[k]:
        str0_alloc.update({k:ss[k]-str0_dict[k]})
str0_alloc

In [ ]:
arim = pmd.AutoARIMA()

In [ ]:
arim.information_criterion