In [71]:
import pandas as pd
import numpy as np
import pmdarima as pmd
import matplotlib.pyplot as plt
import sklearn
pd.set_option('display.max_columns',500)

In [63]:
inv=pd.read_csv('/Users/APinkerton/Downloads/inv.csv')
sls=pd.read_csv('/Users/APinkerton/Downloads/sales.csv')
sls.columns=['sku', 'str0', 'str0', 'str1', 'str1', 'str2', 'str2', 'str3','str3', 'str4', 'str4']

In [64]:
lst=sls.columns
sls.columns=lst+sls.loc[0]
sls.columns=['sku', 'str0LW', 'str0L4W', 'str1LW', 'str1L4W', 'str2LW', 'str2L4W',
       'str3LW', 'str3L4W', 'str4LW', 'str4L4W']

In [65]:
sls.drop(0,axis=0,inplace=True)

In [66]:
# inv.columns=['sku', 'DCinvinv', 'str0inv', 'str1inv', 'str2inv', 'str3inv', 'str4inv']
new_cols=[]
for idx, col in enumerate(inv.columns):
    if idx==0:
        new_cols.append(col)
    else:
        new_cols.append(col+'inv')
inv.columns=new_cols

In [72]:
df=pd.merge(inv,sls,left_on='sku',right_on='sku')
str_lst=['str0','str1','str2','str3','str4']
for str in str_lst:

,sku,DCinv,str0inv,str1inv,str2inv,str3inv,str4inv,str0LW,str0L4W,str1LW,str1L4W,str2LW,str2L4W,str3LW,str3L4W,str4LW,str4L4W
0,1005:XS,44,22,4,15,17,3,3,9,1,9,1,8,2,8,4,12
1,1005:S,60,15,16,7,8,12,2,12,3,8,2,12,2,4,3,7
2,1005:M,14,1,16,1,19,14,1,1,2,12,1,0,0,10,3,4
3,1005:L,65,22,23,25,12,12,2,0,0,2,1,5,1,11,3,8
4,1468:XS,2,4,25,13,7,10,4,11,3,12,3,12,1,0,1,3
5,1468:S,47,16,12,0,3,14,0,5,0,10,2,0,0,9,3,10
6,1468:M,29,0,13,19,23,24,3,11,2,0,0,9,1,3,2,2
7,1468:L,24,23,13,19,20,4,3,11,2,5,0,2,0,8,4,8
8,7044:XS,44,19,7,17,17,25,0,6,4,8,1,6,0,4,4,12
9,7044:S,4,22,11,24,9,11,0,1,4,2,0,12,0,8,1,1
10,7044:M,52,2,16,10,15,16,3,7,1,5,3,6,1,9,2,9
11,7044:L,53,11,5,16,20,25,1,12,2,1,4,5,4,1,2,9

In [87]:
dc_inv=df[['sku','DCinv']].set_index('sku').to_dict()
priority=['str0', 'str1', 'str2', 'str3', 'str4']
prio_dict=list(enumerate(priority))
prio_dict[0][1]

'str0'

In [98]:
ss=dict(zip(df['sku'],np.ones(len(df['sku']))*4))
ss

{'1005:XS': 4.0,
 '1005:S': 4.0,
 '1005:M': 4.0,
 '1005:L': 4.0,
 '1468:XS': 4.0,
 '1468:S': 4.0,
 '1468:M': 4.0,
 '1468:L': 4.0,
 '7044:XS': 4.0,
 '7044:S': 4.0,
 '7044:M': 4.0,
 '7044:L': 4.0}

In [108]:
for a in range(2,7):
    print(inv.iloc[:,a])

0     22
1     15
2      1
3     22
4      4
5     16
6      0
7     23
8     19
9     22
10     2
11    11
Name: str0inv, dtype: int64
0      4
1     16
2     16
3     23
4     25
5     12
6     13
7     13
8      7
9     11
10    16
11     5
Name: str1inv, dtype: int64
0     15
1      7
2      1
3     25
4     13
5      0
6     19
7     19
8     17
9     24
10    10
11    16
Name: str2inv, dtype: int64
0     17
1      8
2     19
3     12
4      7
5      3
6     23
7     20
8     17
9      9
10    15
11    20
Name: str3inv, dtype: int64
0      3
1     12
2     14
3     12
4     10
5     14
6     24
7      4
8     25
9     11
10    16
11    25
Name: str4inv, dtype: int64

In [123]:
str0_dict=inv['str0inv'].to_dict()
str0_alloc={}
for k,v in str0_dict.items():
    if str0_dict[k]<ss[k]:
        str0_alloc.update({k:ss[k]-str0_dict[k]})
str0_alloc

{'1005:M': 3.0, '1468:M': 4.0, '7044:M': 2.0}